[run]
source = src
omit =
    */tests/*
    */test_*
    */__pycache__/*
    */venv/*
    */.venv/*
    */temp/*
    */tmp*
    src/boards/plugins/*

[report]
precision = 2
skip_covered = False
show_missing = True
skip_empty = True

exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
    raise AssertionError
    raise NotImplementedError
    if TYPE_CHECKING:
    @abstractmethod

[html]
directory = htmlcov