# Dependencies
node_modules

# Build outputs
.next
dist
build
out

# Environment files
.env*

# Log files
*.log

# Coverage directory
coverage

# IDE files
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml