interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://site.api.espn.com/apis/site/v2/sports/basketball/nba/teams
  response:
    body:
      string: '{"sports": [{"id": "40", "leagues": [{"abbreviation": "NBA", "id":
        "46", "name": "National Basketball Association", "season": {"displayName":
        "2025-26", "year": 2026}, "shortName": "NBA", "slug": "nba", "teams": [{"team":
        {"abbreviation": "ATL", "alternateColor": "fdb927", "color": "c8102e", "displayName":
        "Atlanta Hawks", "id": "1", "isActive": true, "isAllStar": false, "location":
        "Atlanta", "logos": [{"alt": "", "height": 500, "href": "https://a.espncdn.com/i/teamlogos/nba/500/atl.png",
        "rel": ["full", "default"], "width": 500}, {"alt": "", "height": 500, "href":
        "https://a.espncdn.com/i/teamlogos/nba/500-dark/atl.png", "rel": ["full",
        "dark"], "width": 500}, {"alt": "", "height": 500, "href": "https://a.espncdn.com/i/teamlogos/nba/500/scoreboard/atl.png",
        "rel": ["full", "scoreboard"], "width": 500}, {"alt": "", "height": 500, "href":
        "https://a.espncdn.com/i/teamlogos/nba/500-dark/scoreboard/atl.png", "rel":
        ["full", "scoreboard", "dark"], "width": 500}, {"alt": "", "heig[...]
[...]
