interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://site.api.espn.com/apis/site/v2/sports/basketball/nba/scoreboard?dates=20241025
  response:
    body:
      string: '{"leagues": [{"id": "46", "uid": "s:40~l:46", "name": "National Basketball
        Association", "abbreviation": "NBA", "slug": "nba", "season": {"year": 2025,
        "startDate": "2024-09-24T07:00Z", "endDate": "2025-06-27T06:59Z", "displayName":
        "2024-25", "type": {"id": "2", "type": 2, "name": "Regular Season", "abbreviation":
        "reg"}}, "logos": [{"href": "https://a.espncdn.com/i/teamlogos/leagues/500/nba.png",
        "width": 500, "height": 500, "alt": "", "rel": ["full", "default"], "lastUpdated":
        "2018-06-05T12:07Z"}, {"href": "https://a.espncdn.com/combiner/i?img=/i/teamlogos/leagues/500-dark/nba.png&w=500&h=500&transparent=true",
        "width": 500, "height": 500, "alt": "", "rel": ["full", "dark"], "lastUpdated":
        "2026-05-27T02:35Z"}], "calendarType": "day", "calendarIsWhitelist": true,
        "calendarStartDate": "2024-09-24T07:00Z", "calendarEndDate": "2025-06-27T06:59Z",
        "calendar": ["2024-10-04T07:00Z", "2024-10-05T07:00Z", "2024-10-06T07:00Z",
        "2024-10-07T07:00Z", "2024-10-08T07:00Z", "2024-10-09T07:00Z", "2024-10-10T07:00Z",
        "2024-10-11T07:00Z", "2024-10-12T07:00Z", "2024-10-13T07:00Z", "2024-10-14T07:00Z",
        "2024-10-15T07:00Z", "2024-10-16T07:00Z", "2024-10-17T07:00Z", "2024-10-18T07:00Z",
        "2024-10-22T07:00Z", "2024-10-23T07:00Z", "2024-10-24T07:00Z", "2024-10-25T07:00Z",
        "2024-10-26T07:00Z", "2024-10-27T07:00Z", "2024-10-28T07:00[...]
[...]
