interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api-web.nhle.com/v1/score/2025-05-06
  response:
    body:
      string: '{"prevDate": "2025-05-05", "currentDate": "2025-05-06", "nextDate":
        "2025-05-07", "gameWeek": [{"date": "2025-05-03", "dayAbbrev": "SAT", "numberOfGames":
        1}, {"date": "2025-05-04", "dayAbbrev": "SUN", "numberOfGames": 1}, {"date":
        "2025-05-05", "dayAbbrev": "MON", "numberOfGames": 1}, {"date": "2025-05-06",
        "dayAbbrev": "TUE", "numberOfGames": 2}, {"date": "2025-05-07", "dayAbbrev":
        "WED", "numberOfGames": 2}, {"date": "2025-05-08", "dayAbbrev": "THU", "numberOfGames":
        2}, {"date": "2025-05-09", "dayAbbrev": "FRI", "numberOfGames": 2}], "oddsPartners":
        [{"partnerId": 2, "country": "SE", "name": "Unibet", "imageUrl": "https://assets.nhle.com/betting_partner/unibet.svg",
        "siteUrl": "https://www.unibet.se/betting/sports/filter/ice_hockey/nhl/all/matches",
        "bgColor": "#14805E", "textColor": "#FFFFFF", "accentColor": "#3AAA35"}, {"partnerId":
        3, "country": "CZ", "name": "Tipsport", "imageUrl": "https://assets.nhle.com/betting_partner/tipsport.svg",
        "siteUrl": "https://www.tipsport.cz/PartnerRedirectAction.do?pid=16961&sid=20360&bid=34954&tid=11268",
        "bgColor": "#2497F2", "textColor": "#FFFFFF", "accentColor": "#FFFFFF"}, {"partnerId":
        6, "country": "FI", "name": "Veikkaus", "imageUrl": "https://assets.nhle.com/betting_partner/veikkaus.svg",
        "siteUrl": "https://www.vei[...]
[...]
