interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.nhle.com/stats/rest/en/team
  response:
    body:
      string: '{"data": [{"id": 32, "fullName": "Quebec Nordiques", "triCode": "QUE"},
        {"id": 8, "fullName": "Montr\u00e9al Canadiens", "triCode": "MTL"}, {"id":
        58, "fullName": "Toronto St. Patricks", "triCode": "TSP"}, {"id": 7, "fullName":
        "Buffalo Sabres", "triCode": "BUF"}, {"id": 46, "fullName": "Oakland Seals",
        "triCode": "OAK"}, {"id": 48, "fullName": "Kansas City Scouts", "triCode":
        "KCS"}, {"id": 36, "fullName": "Ottawa Senators (1917)", "triCode": "SEN"},
        {"id": 70, "fullName": "To be determined", "triCode": "TBD"[...]
[...]
