interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://site.api.espn.com/apis/site/v2/sports/basketball/wnba/teams
  response:
    body:
      string: '{"sports": [{"id": "40", "leagues": [{"abbreviation": "WNBA", "id":
        "59", "name": "Women''s National Basketball Association", "season": {"displayName":
        "2026", "year": 2026}, "shortName": "WNBA", "slug": "wnba", "teams": [{"team":
        {"abbreviation": "ATL", "alternateColor": "5091cc", "color": "e31837", "displayName":
        "Atlanta Dream", "id": "20", "isActive": true, "isAllStar": false, "location":
        "Atlanta", "logos": [{"alt": "", "height": 500, "href": "https://a.espncdn.com/i/teamlogos/wnba/500/atl.png",
        "rel": ["full", "default"], "width": 500}, {"alt": "", "height": 500, "href":
        "https://a.espncdn.com/i/teamlogos/wnba/500-dark/atl.png", "rel": ["full",
        "dark"], "width": 500}, {"alt": "", "height": 4096, "href": "https://a.espncdn.com/guid/bceea196-4263-d338-17a7-9ae40f3aed3f/logos/primary_logo_on_white_color.png",
        "rel": ["full", "primary_logo_on_white_color"], "width": 4096}, {"alt": "",
        "height": 4096, "href": "https://a.espncdn.com/guid/bceea196-4263-d338-17a7-9ae40f3aed3f/logos/primary_logo_on[...]
[...]
