interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://site.api.espn.com/apis/site/v2/sports/basketball/wnba/scoreboard?dates=20240712
  response:
    body:
      string: '{"leagues": [{"id": "59", "uid": "s:40~l:59", "name": "Women''s National
        Basketball Association", "abbreviation": "WNBA", "slug": "wnba", "season":
        {"year": 2024, "startDate": "2024-04-15T07:00Z", "endDate": "2024-10-21T06:59Z",
        "displayName": "2024", "type": {"id": "2", "type": 2, "name": "Regular Season",
        "abbreviation": "reg"}}, "logos": [{"href": "https://a.espncdn.com/i/teamlogos/leagues/500/wnba.png",
        "width": 500, "height": 500, "alt": "", "rel": ["full", "default"], "lastUpdated":
        "2019-05-21T20:08Z"}, {"href": "https://a.espncdn.com/i/teamlogos/leagues/500-dark/wnba.png",
        "width": 500, "height": 500, "alt": "", "rel": ["full", "dark"], "lastUpdated":
        "2019-11-19T15:26Z"}], "calendarType": "day", "calendarIsWhitelist": true,
        "calendarStartDate": "2024-04-15T07:00Z", "calendarEndDate": "2024-10-21T06:59Z",
        "calendar": ["2024-05-03T07:00Z", "2024-05-04T07:00Z", "2024-05-07T07:00Z",
        "2024-05-08T07:00Z", "2024-05-09T07:00Z", "2024-05-10T07:00Z", "2024-05-11T07:00Z",
        "2024-05-14T07:00Z", "2024-05-15T07:00Z", "2024-05-16T07:00Z", "2024-05-17T07:00Z",
        "2024-05-18T07:00Z", "2024-05-19T07:00Z", "2024-05-20T07:00Z", "2024-05-21T07:00Z",
        "2024-05-22T07:00Z", "2024-05-23T07:00Z", "2024-05-24T07:00Z", "2024-05-25T07:00Z",
        "2024-05-26T07:00Z", "2024-05-28T07:00Z", "2024-05-29T07:00[...]
[...]
